<!DOCTYPE html>
<html>

<head>
    <title>QR Code Generator</title>
    <link rel="shortcut icon" class="rounded" href="../Assets/favicon_io/apple-touch-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar w-100 navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">QR Code Maker</a>
            <a href="/" type="button" class="btn btn-warning"> Back To Home</a>


        </div>
    </nav>
    <div class="container d-flex flex-column mt-4 p-4">

        <% if (file.contentType=="image/png" ||file.contentType=="image/jpeg" ) { %>
            <img src="<%=file.link%>" class="w-50 m-auto" alt="error">
            <a href="<%=qrCodeUrl %>" class="btn mt-3 btn-primary align-self-center w-50"
                download="image.png">Download</a>

            <% } %>

                <% if (file.contentType=="video/mp4" ) { %>
                    <video controls autoplay src="<%=file.link%>" class="w-80"></video>
                    <a href="<%=qrCodeUrl %>" class="btn mt-3 btn-primary align-self-center w-50"
                        download="video.mp4">Download</a>
                    <% } %>
                        <% if (file.contentType=="text/plain" ){ %>
                            <iframe src="<%=file.link%>" frameborder="0" height="350px" class=""></iframe>
                            <a href="<%=qrCodeUrl %>" class="btn btn-primary w-50 mt-3 align-self-center"
                                download="<%=file._id%>.txt"> Download</a>
                            <% } %>
                                <% if (file.contentType=='application/pdf' ){ %>
                                    <iframe src="<%=file.link%>" title="file" width="100%" height="550px"></iframe>

                                    <a href="<%=qrCodeUrl%>" target="_blank"
                                        class="btn btn-primary w-50 mt-3 align-self-center"
                                        download="<%=file._id%>.pdf"> Download</a>
                                    <div class="get-info mt-4 py-2">
                                        <span class="fs-5 d-inline mr-2">Note:</span>
                                        <p class="d-inline ms-2">If the pdf is not showing click on the download button
                                        </p>

                                    </div>

                                    <% } %>
                                        <% if (file.contentType=="application/msword" ){ %>
                                            <iframe src="<%=file.link%>" frameborder="0" height="500px"></iframe>
                                            <a href="<%=qrCodeUrl%>" class="btn btn-primary w-50 mt-3 align-self-center"
                                                download="<%=file._id%>.doc"> Download</a>

                                            <% } %>
                                                <% if (file.contentType=="audio/mpeg" ){ %>
                                                    <audio controls autoplay loop preload="auto"
                                                        class="align-self-center">
                                                        <source src="<%=file.link%>" type="audio/mpeg">
                                                    </audio>
                                                    <a href="<%=qrCodeUrl%>"
                                                        class="btn btn-primary w-50 mt-3 align-self-center"
                                                        download="<%=file._id%>.mp3"> Download</a>

                                                    <% } %>



    </div>
       <!-- FOOTER NAVIGATION -->
  <div class="row position-fixed bottom-0 w-100 bg-body-tertiary px-4 py-3 align-items-center justify-content-center">
    <a href="/" class="col d-flex justify-content-center w-100"> <i class="fa-solid fs-3 fa-house"></i></a>
    <a href="/scanner" class="col border-start border-2 border-secondary-subtle d-flex justify-content-center w-100"><i class="fa-solid fs-3 fa-qrcode"></i></a>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>